body{
    background-color: #1e1e1e;
}
.top-menu {
    background-color: rgba(0, 0, 0, 0.3);
}
.top-menu-mobile {
    background-color: rgba(0, 0, 0, 0.3);
}
.button-theme {
    background-image: url("../buttons/light_mode.svg");
    filter: invert(1);
}
.main-text{
    color: #BABABA;
}
.text-1{
    color: #d5d5d5;
}
.block-line-code,
.block-weight,
.block-img,
.block-date{
    background-color: #2c2c2c;
    transition: background-color 275ms ease-in-out;
}
.line-code-text-1{
    color: #d5d5d5;
}
.line-code-text-2 {
    background-image: linear-gradient(to right, #ff5a00, #006fff);
}
.weight-text-2{
    background-image: linear-gradient(to right, #ff5a00, #006fff);
}
.img-text-2{
    background-image: linear-gradient(to right, #00ff80, #006fff);
}
body {
    transition: background-color 275ms ease-in-out;
}
.relevance-text {
    color: #BABABA;
}
.footer {
    background-color: rgba(0, 0, 0, 0);
    color: #bababa;
}
.footer a {
    color: #bababa;
}
.footer-block-logo {
    filter: invert(0.1);
    transition: color 250ms;
}