<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
  <link rel="stylesheet" href="../uni-css/css.css">
  <link rel="stylesheet" href="../uni-css/header.css">
  <link rel="stylesheet" href="../uni-css/footer.css">
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/register-media.css">
  <link rel="stylesheet" href="../uni-css/media.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="../favicon/library-mini-logo-white.svg">
</head>
<body>
  <div class="block-1">
    <form class="form-reg">
      <div class="form-block">
        <label for="username" class="form-input">username</label>
        <input type="text" class="form-control" id="username" v-model="form.name">
      </div>
      <div class="form-block">
        <label for="name" class="form-input">Имя</label>
        <input type="text" class="form-control" id="name" v-model="form.value">
      </div>
      <div class="form-block">
        <label for="password" class="form-input">Пароль</label>
        <input type="password" class="form-control" id="password" v-model="form.value">
      </div>
      <button class="btn btn-primary" type="submit" :disabled="!canCreate">Зарегистрировать</button>
    </form>
  </div>
  <script type="module" src="../js/register.js"></script>
</body>
</html>