<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
  <link rel="stylesheet" href="uni-css/css.css">
  <link rel="stylesheet" href="uni-css/header.css">
  <link rel="stylesheet" href="uni-css/footer.css">
  <link rel="stylesheet" href="css/register.css">
  <link rel="stylesheet" href="css/register-media.css">
  <link rel="stylesheet" href="uni-css/media.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="favicon/library-mini-logo-white.svg">
</head>
<body>
    <div id="menu">
    <div class="top-menu">
        <a class="top-menu-link" href="main.html">Главная</a>
        <a class="top-menu-link" href="search.html">Каталог</a>
        <a class="top-menu-link" href="forum.html">Форум</a>
        <a class="top-menu-link" href="news.html">Новости</a>
        <a class="top-menu-link" href="account.html">Аккаунт</a>
    </div>
    <div  id="top-menu-m" class="top-menu-mobile">
        <button id="top-btn" class="top-menu-mobile-link">
            <img id="top-btn-img" class="img-menu" src="buttons/menu-open.svg">
        </button>
        <a class="top-menu-mobile-link img-main" href="main.html"></a>
        <a class="top-menu-mobile-link img-account" href="account.html"></a>
    </div>
    <div id="top-menu" class="anim">
        <div id="top-menu-block" class="top-menu-mobile-block">
            <a class="top-menu-mobile-block-link" href="search.html">Каталог</a>
            <a class="top-menu-mobile-block-link" href="forum.html">Форум</a>
            <a class="top-menu-mobile-block-link" href="news.html">Новости</a>
            <a class="top-menu-mobile-block-link" href="account.html">Аккаунт</a>
        </div>
    </div>
</div>
  <div class="block-registration">
    <div class="block-reg-0"></div>
    <div id="register">
        <div class="title-text">Регистрация</div>
        <form class="form-reg" @submit.prevent="createUser">
            <div class="form-block">
                <input type="text" class="form-input" id="username" placeholder="Никнейм" v-model="form.username">
            </div>
            <div class="form-block">
                <input type="text" class="form-input" id="name" placeholder="Имя" v-model="form.name">
            </div>
            <div class="form-block">
                <input type="password" class="form-input" id="password" placeholder="Пароль" v-model="form.password">
            </div>
            <button @click="loginOpen" id="login-btn" class="log-btn button">Уже есть аккаунт?</button>
            <button class="reg-btn button" type="submit" :disabled="!canRegister">Регистрация</button>
            <div id="login-block" class="login-block"></div>
        </form>
        <!--      <div class="login-by">
          <div class="mini-log gosuslugi"></div>
          <div class="mini-log apple"></div>
          <div class="mini-log"></div>
      </div>-->
    </div>
    <div id="login">
        <form class="form-reg" @submit.prevent="authUser">
            <div class="form-block">
                <input type="text" class="form-input login" id="username" placeholder="Никнейм" v-model="form.username">
            </div>
            <div class="form-block">
                <input type="password" class="form-input" id="password" placeholder="Пароль" v-model="form.password">
            </div>
            <button class="log-btn button" type="submit" :disabled="!canLogin">Войти</button>
        </form>
    </div>
  </div>
  <script type="text/javascript" src="js/reg-open-login.js"></script>
  <script type="module" src="js/register.js"></script>
  <script type="text/javascript" src="js/mobile-btn.js"></script>
</body>
</html>