@media only screen and (max-width: 734px) {
    .text {
        width: 300px;
        height: 150px;
    }
    .lazy_text {
        font-size: 72px;
        margin-top: auto;
        margin-bottom: auto;
    }
}