body{
    margin: 0;
    background-color: #1e1e1e;
}
.text{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.lazy_text{
    position: relative;
    background-color: #1e1e1e;
    font-family: "Segoe UI", sans-serif, -apple-system;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: white;
    top: 100%;
}
.buttons{
    width: 175px;
    font-family: "Segoe UI", sans-serif, -apple-system;
    border: 0;
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
    font-size: 64px;
    cursor: pointer;
}
.buttons:hover{
    color: rgba(255, 255, 255, 0.81);
    transition: 175ms ease-in;
}