body, h1, h2, h3, h4, p, a, button {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}
input {
    font-family: "Nunito", sans-serif;
}
a {
    all: unset;
    cursor: pointer;
}
body {
}
button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
    border: 0;
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("@/assets/fonts/Nunito-Regular.ttf");
    font-display: swap;
}
.mrg-25 {
    margin: 25px 0;
}
.fz-16 {
    font-size: 16px;
}
.fz-20 {
    font-size: 20px;
}
.fz-24 {
    font-size: 24px;
}
.fz-28 {
    font-size: 28px;
}
.fz-32 {
    font-size: 32px;
}
.fz-36 {
    font-size: 36px;
}
.fz-42 {
    font-size: 42px;
}
.fz-56 {
    font-size: 56px;
}
.fz-64 {
    font-size: 64px;
}
.fz-72 {
    font-size: 72px;
}
.bold {
    font-weight: bold;
}
.white {
    color: white;
}
.color-backdrop {
    color: transparent;
    -webkit-background-clip: text;
}
