@media only screen and (max-width: 734px) {
    .top-menu-mobile {
        background-color: rgba(0, 0, 0, 0.55);
    }
    .input{
        width: 265px;
    }
    .button {
        display: none;
    }
    .mobile-button {
        display: block;
    }
    .table-db {
        display: none;
    }
    .mobile-table-db {
        display: block;
    }
    .books {
        grid-template-columns: 1fr;
    }
    .book-item {
        display: flex;
        width: 330px;
        padding: 0;
        margin: 10px auto 25px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 35px;
    }
    .book-image {

    }
    .book-image-img {
        height: 180px;
        margin-right: 25px;
    }
    .text {
        color: white;
        font-size: 13px;
    }
    .book-about {
        display: inline-block;
        float: left;
        line-height: 19px;
    }
    .book-name {
        font-size: 18px;
        line-height: 120%;
    }
    .book-author {
        font-size: 15px;
        margin-top: 7px;
    }
    .book-pages {
        margin-top: 5px;
    }
    .book-year {

    }
    .book-age {

    }
}