@media only screen and (max-width: 734px) {
    .top-menu {
        display: none;
    }
    .top-menu-mobile {
        display: block;
        height: 62px;
    }
    .top-menu.open {

    }
    .block-button {                     /* анимация кнопки на смартфонах */
        transition: background-color 150ms ease-in-out,color 150ms ease-in-out;
    }
    .block-button:hover {
        transition: background-color 150ms ease-in-out,color 150ms ease-in-out;
    }
    .open {
        display: block;
        transform: translateY(-150%);
        animation: ani 500ms forwards;
    }
    .top-menu-mobile-block {
        transform: translateY(-150%);
        animation: ani 750ms forwards;
    }
    @keyframes ani {
        0% {transform: translateY(-150%);}
        100% {transform: translateY(0);}
    }
    .img-menu, .top-menu-mobile-link {
        transition: src 100ms ease-in-out,color 1500ms ease-in-out;
    }
    .none-blur {
        transition: background-color 120ms cubic-bezier(1, 0, 1, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    .footer {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding: 50px 20px 20px 20px;
    }
    .footer-copyright {
        margin-top: 75px;
    }
    .sk-link {
        margin-right: 0;
    }
}